body{
    background-color:#252A34;
    color: #EAEAEA;
    
}
hr{
    border-style: none none none none;
    /* border-width:5px; */
    /* border-color: #FF2E63; */
    height: 2px;
    width: 90%;
    background-color: #FF2E63;
}
a{
    color: #08D9D6;
}
/* h1{
    color: #252A34;
}*/
h3{
    color: #EAEADA;
}
/* p{
    color: #252A34;
}
ol{
    color: #252A34;
}
ul{
    color: #252A34;
}
table{
    color: #252A34;
} */ 